# Dependencies
node_modules/
.next/
.vscode/

# Build outputs
dist/
build/
out/

# Lock files
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# Other
.DS_Store
*.tsbuildinfo 